@use './colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --font-family-primary: 'Kumbh Sans';
    --font-family-secondary:  sans-serif;
    --text-base-size: 12px;
    --text-scale-ratio: 1.2;
    --text-weight-heading: 700;
    --text-weight-paragraph: 400;

    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm:calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg:calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)  * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)  * var(--text-scale-ratio) * var(--text-scale-ratio));


}
html, body {
  font-size: var(--text-base-size);
  font-family: var(--font-family-primary);
  color: var(--color-text-primary)
}

h1,h2,h3,h4 {
    color: var(--color-text-primary);
}

.text-xxxl {
    font-size:var(--text-xxl);
}

h1, .text-xxl {
    font-size: var(--text-xxl);
}


h2, .text-xl {
    font-size: var(--text-xl);
}

h3, .text-lg {
    font-size: var(--text-lg);
}

h4, .text-md {
    font-size: var(--text-md);
}

.text-sm {
    font-size: var(--text-sm);
}

.text-xs {
    font-size: var(--text-xs);
}

h1 {
    font-weight: var(--text-weight-heading);
}

p {
    font-weight: var(--text-weight-paragraph);
}