@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  /* typography */
  --color-text-primary: hsl(238, 29%, 16%);
  --color-text-active: hsl(14, 88%, 65%);
  --color-text-neutral-dark: hsl(237, 12%, 33%);
  --color-text-neutral: hsl(240, 6%, 50%);
  /* Dividers*/
  --color-divider-primary: hsl(240, 5%, 91%);
  /* FAQ Background */
  --color-faq-background: white;
  /* Body Background color */
  --color-body-top: hsl(273, 75%, 66%);
  --color-body-bottom: hsl(240, 73%, 65%);
  --color-body-gradient: linear-gradient(to bottom right, var(--color-body-top) , var(--color-body-bottom));
}

body {
  background: var(--color-body-gradient);
}

:root {
  --font-family-primary: "Kumbh Sans";
  --font-family-secondary: sans-serif;
  --text-base-size: 12px;
  --text-scale-ratio: 1.2;
  --text-weight-heading: 700;
  --text-weight-paragraph: 400;
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm:calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg:calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

html, body {
  font-size: var(--text-base-size);
  font-family: var(--font-family-primary);
  color: var(--color-text-primary);
}

h1, h2, h3, h4 {
  color: var(--color-text-primary);
}

.text-xxxl {
  font-size: var(--text-xxl);
}

h1, .text-xxl {
  font-size: var(--text-xxl);
}

h2, .text-xl {
  font-size: var(--text-xl);
}

h3, .text-lg {
  font-size: var(--text-lg);
}

h4, .text-md {
  font-size: var(--text-md);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-xs {
  font-size: var(--text-xs);
}

h1 {
  font-weight: var(--text-weight-heading);
}

p {
  font-weight: var(--text-weight-paragraph);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .container {
    padding-top: 8rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding-top: 8rem;
  }
}

.faq {
  background-color: var(--color-faq-background);
  min-height: 30rem;
  width: 75vw;
  border-radius: 25px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .faq {
    width: 40vw;
  }
}
@media (min-width: 1024px) {
  .faq {
    min-height: 40rem;
    display: flex;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: -40.5rem;
    background-position-y: -22rem;
    background-size: 110%;
  }
}
@media (min-width: 1440px) {
  .faq {
    background-position-x: -52.5rem;
    background-position-y: -28rem;
    background-size: 98%;
  }
}
.faq__avatar {
  position: relative;
}
@media (min-width: 1024px) {
  .faq__avatar {
    background: url("../images/illustration-woman-online-desktop.svg") no-repeat;
    background-repeat: no-repeat;
    width: 50%;
    flex-basis: 50%;
    background-position-x: -5rem;
    background-position-y: 5rem;
    background-size: 110%;
  }
}
@media (min-width: 1440px) {
  .faq__avatar {
    background-position-x: -8rem;
    background-position-y: 5rem;
    background-size: 100%;
  }
}
.faq__avatar__bg {
  background: url("../images/bg-pattern-mobile.svg");
  width: 240px;
  height: 104px;
  left: calc(calc(50% - 120px));
  bottom: 0;
  position: relative;
}
@media (min-width: 1024px) {
  .faq__avatar__bg {
    display: none;
  }
}
.faq__avatar__illustration {
  background: url("../images/illustration-woman-online-mobile.svg");
  width: 266px;
  height: 196px;
  left: calc(calc(50% - 145px));
  bottom: 1rem;
  position: absolute;
}
@media (min-width: 1024px) {
  .faq__avatar__illustration {
    display: none;
  }
}
.faq__avatar__box {
  display: none;
}
@media (min-width: 1024px) {
  .faq__avatar__box {
    background: url("../images/illustration-box-desktop.svg");
    background-size: 100%;
    width: 191px;
    height: 184px;
    display: block;
    position: absolute;
    left: -6rem;
    top: 15rem;
  }
}
@media (min-width: 1440px) {
  .faq__avatar__box {
    top: 18rem;
  }
}
.faq__questions {
  padding: 2rem 2rem 4rem 2rem;
}
@media (min-width: 1024px) {
  .faq__questions {
    width: 100%;
    flex-basis: 50%;
    padding: 4rem 4rem 4rem 4rem;
  }
}
.faq__questions__title {
  text-align: center;
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .faq__questions__title {
    text-align: start;
  }
}

.accordion__checkbox {
  display: none;
}
.accordion__checkbox + .accordion__title {
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-divider-primary);
  display: flex;
  justify-content: space-between;
  color: var(--color-text-neutral-dark);
  /* Handle hover state in touch and none touch devices*/
}
.accordion__checkbox + .accordion__title > .accordion__arrow {
  background: url("../images/icon-arrow-down.svg");
  width: 10px;
  height: 7px;
}
.accordion__checkbox + .accordion__title + .accordion__content {
  display: none;
  width: 100%;
  line-height: 1.5;
}
@media (hover: hover) and (pointer: fine) {
  .accordion__checkbox + .accordion__title:hover {
    cursor: pointer;
    color: var(--color-text-active);
    font-weight: var(--text-weight-heading);
  }
}
.accordion__checkbox:checked + .accordion__title {
  border-bottom: none;
  font-weight: var(--text-weight-heading);
}
.accordion__checkbox:checked + .accordion__title > .accordion__arrow {
  transform: rotate(180deg);
}
.accordion__checkbox:checked + .accordion__title + .accordion__content {
  display: block;
  padding: 0.5rem 0 1rem 0;
  border-bottom: 1px solid var(--color-divider-primary);
  color: var(--color-text-neutral);
  font-weight: var(--text-weight-paragraph);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=styles.css.map */
