@use './colors' as *;
@use './typography' as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  width: 100%;
}

.faq {
  flex-basis: 50%;
  background: var(--color-faq-background);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.faq__avatar {
  position: relative;
  width: 100%;
}

.faq__avatar__illustration {
  background: url("../images/illustration-woman-online-mobile.svg");
  width: 266px;
  height: 196px;
  position: absolute;
  bottom: 3.25em;
  right: calc(calc(50% - 133px) + 15px);
}

.faq__avatar__bg {
  background: url("../images/bg-pattern-mobile.svg");
  width: 240px;
  height: 104px;
  bottom: 2.25em;
  left: calc(50% - 120px);
  position: relative;
}

.faq__title {
  text-align: center;
  padding-bottom: 2rem;
}
.faq__questions {
  width: 100%;
}

.accordion__checkbox {
  display: none;

  + .accordion__title {
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-divider-primary);
    display: flex;
    justify-content: space-between;
    color: var(--color-text-neutral-dark);
    > .accordion__arrow {
      background: url("../images/icon-arrow-down.svg");
      width: 10px;
      height: 7px;
    }
    + .accordion__content {
      display: none;
      width: 100%;
    }
  }

  //   &:active {
  //     + .accordion__title {
  //     cursor: pointer;
  //     color: var(--color-text-active);
  //     font-weight: var(--text-weight-heading);
  //   }
  // }

  &:checked + .accordion__title {
    border-bottom: none;
    font-weight: var(--text-weight-heading);
    > .accordion__arrow {
      transform: rotate(180deg);
    }
    + .accordion__content {
      display: block;
      padding: 0.5rem 0 1rem 0;
      border-bottom: 1px solid var(--color-divider-primary);
      color: var(--color-text-neutral);
      font-weight: var(--text-weight-paragraph);
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
